<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IDuplex_ChatService" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:11115/Design_Time_Addresses/WCF_Duplex_Chat_Svc/Duplex_ChatService/"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IDuplex_ChatService"
                contract="ServiceReference1.IDuplex_ChatService" name="WSDualHttpBinding_IDuplex_ChatService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>